.title{
 color:gold;
 text-align: center;
 margin-bottom: 8px;
 padding-right: 25px;
 font-weight: bolder;
 font-size: 80px;
 
}
#main{
 
 background-image: url('imgs/overhead-view-blank-spiral-notepad-with-italian-pasta-ingredients-against-black-textured-backdrop.jpg');
 background-repeat: no-repeat;
 background-position: center ;
 background-attachment: fixed ;
 background-size: cover;
 
}
.menu{
 list-style-position: outside;
 list-style: disc;
 margin-top: 90px;

 
 
 
}
.list{
 color: olive;
 font-size: 30px;
 font-weight: bolder;
 text-decoration: none;
}
.style{
 padding-bottom: 20px;
 margin-left:868px;

 
}
#first{
 margin-top: 250px;
}
.head{
 text-align: center;
 color: black;

 
}
.body1{
background-color: aliceblue;
}
.pic{
 height: auto;
 width: 350px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 
 
}
.one{
 color: black;
 font-weight: bolder;
 font-style: oblique;
 margin: 30px auto;
}
.two{
 color: navy;
 font-size: larger;
 font-style: inherit;
}

.li{
 color: navy;
 font-size: 20px;
 padding: 10px;
}
.ul{
 list-style-type: square;
 
}
.ol{
 list-style-type: lower-alpha;
}