.title{
 color:gold;
 text-align: center;
 

 
 
 font-weight: bolder;
 font-size: 80px;
 
}
#main{
 
 background-image: url('imgs/overhead-view-blank-spiral-notepad-with-italian-pasta-ingredients-against-black-textured-backdrop.jpg');
 background-repeat: no-repeat;
 background-position: center ;
 background-attachment: fixed ;
 background-size: cover;
 
}
.menu{
 list-style-position: outside;
 text-align: justify;
 list-style: disc;
 
 
 
}
.list{
 color: olive;
 font-size: 30px;
 font-weight: bolder;
 text-decoration: none;

 
 
}
.head{
 text-align: center;
 color: black;

 
}
.body1{
background-color: aliceblue;
}
.pic{
 height: auto;
 width: 350px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 
 
}
#one{
 color: red;
 font-weight: bolder;
}
#two{
 color: red;
 font-size: large;
 font-style: inherit;
}
h2{
 color: black;
 font-style: oblique;
 font-weight: lighter;
}
.li{
 color: navy;
 font-size: 20px;
}
